@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-clr: #ff5841;
    --primary-clr-bright: #ff6e5b;
    --primary-clr-dark: #cc4836;
    --secondary-clr: #c53678;
    --secondary-clr-bright: #d1548e;
    --secondary-clr-dark: #9c2d61;
    --black: #0f0f0f;
    --white: #ffffff;
    --grey: #dfdfdf;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    font-family: "Ubuntu";
    min-height: 100vh;
}

nav {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(12, 1fr) 8fr;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 25px;
}

.nav-icon, 
.logo {
    justify-self: center;
}

.nav-item {
    font-size: 1.25rem;
    font-weight: 700;
}

.title {
    font-size: 1.75rem;
}

.home {
    grid-row: 3 / 4;
}

.profile {
    grid-row: 4 / 5;
}

.messages {
    grid-row: 5 / 6;
}

.history {
    grid-row: 6 / 7;
}

.tasks {
    grid-row: 7 / 8;
}

.communities {
    grid-row: 8 / 9;
}

.settings {
    grid-row: 10 / 11;
}

.support {
    grid-row: 11 / 12;
}

.privacy {
    grid-row: 12 / 13;
}

header {
    grid-area: 1 / 2 / 2 / 4;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--grey);
}

aside {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--grey);
}