:root {
    --primary-clr: #ff5841;
    --primary-clr-bright: #ff6e5b;
    --primary-clr-dark: #cc4836;
    --secondary-clr: #c53678;
    --secondary-clr-bright: #d1548e;
    --secondary-clr-dark: #9c2d61;
    --black: #0f0f0f;
    --white: #ffffff;
    --grey: #dfdfdf;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}

nav {
    grid-area: 1 / 1 / 3 / 2;
}

header {
    grid-area: 1 / 2 / 2 / 4;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}

aside {
    grid-area: 2 / 3 / 3 / 4;
}